@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.projects {
  width: 1400px;
  margin: 0 auto;
  text-align: center;
  margin: 0; padding: 0; box-sizing: border-box; font-family: "Poppins", sans-serif;
}

.projects .menu { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap: 0 20px; margin-bottom: 25px;}

.projects .menu .button {
  font-size: 15px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  border-bottom: 3px solid transparent;
  transition: 0.5s;
  cursor: pointer;
}
.projects .menu .button:hover, .projects .menu .button.active {
  border-bottom: 3px solid #bd5d38;
}
.element-item {
  position: relative;
  float: left;
  width: 280px;
  height: 220px;
  margin: 15px;
  padding: 10px;
  border: 2px solid #bd5d38;
  border-radius: 10px;
  overflow: hidden;
}
.element-item > * {
  margin: 0;
  padding: 0;
}
.projects .item img {
  width: 100%;
  height: 72%;
  object-fit: cover;
  transition: .5s;
}
.projects .item:hover img{
  transform: scale(0.8);
}
